.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 10px;
  background-color: white;
}
.header_body {
  width: 1300px;
}
.header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.left_item img {
  width: 200px;
}
.right_items ul li, .right_items a {
  cursor: pointer;
  color: rgb(92, 92, 92);
  font-size: 1.1em;
  display: inline-flex;
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
}
ul li:hover {
  color: black;
}
